body {
  margin: 0;
}
.header {
  background-color: rgb(218, 215, 213);
  height: 100px;
  width: 100%;
}
.all {
  height: 440px;
  display: flex;
  flex-direction: row;
  padding: 15px 0 15px 0;
}
.ab-container {
  width: 75%;
}
.content-a {
  background-color: red;
  height: 50%;
  width: auto;
}
.content-b {
  background-color: #ffa600d7;
  height: 50%;
  width: auto;
}
.content-c {
  background-color: #ffff00;
  height: auto;
  width: 25%;
}
.footer {
  background-color: rgb(218, 215, 213);
  height: 100px;
  width: 100%;
}
@media (max-width: 480px) {
  .header {
    height: 70px;
  }
  .all {
    display: block;
    width: 100%;
    height: 500px;
  }
  .ab-container {
    width: 100%;
    height: 66.66%;
  }
  .content-c {
    width: 100%;
    height: 33.33%;
  }
  .footer {
    height: 70px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .ab-container {
    width: 50%;
  }
  .content-c {
    width: 50%;
  }
}
