body {
  margin: 0;
}
.header {
  height: 100px;
  background-color: rgb(218, 215, 213);
}
.all {
  display: flex;
  height: 450px;
  padding: 15px 0 15px 0;
}
.content-b {
  background-color: #009944;
  width: 25%;
}
.content-a {
  background-color: #77aa00;
  width: 75%;
}
.content-c {
  background-color: #fcf700;
  width: 25%;
}
.footer {
  height: 100px;
  background-color: rgb(218, 215, 213);
}
/* Media Query */
@media (max-width: 480px) {
  .header {
    height: 100px;
  }
  .all {
    flex-direction: column;
    width: 100%;
    height: 440px;
  }
  .content-a {
    height: 50%;
    width: auto;
    order: 1;
  }
  .content-b {
    order: 2;
    width: auto;
    height: 20%;
  }
  .content-c {
    order: 3;
    width: auto;
    height: 30%;
  }
  .footer {
    height: 100px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .all {
    flex-wrap: wrap;
    width: auto;
  }
  .content-a {
    height: 70%;
    width: 100%;
    order: 1;
  }
  .content-b {
    height: 30%;
    width: 50%;
    order: 2;
  }
  .content-c {
    height: 30%;
    width: 50%;
    order: 3;
  }
}
